*{
   margin: 0px;
   margin: 0px;
   
   padding: 25px 25px 25px 25px;  
}



.rec1{
   border: solid black 2px;
   height: 250px;
   width: 100%;
   padding: 20px;
   
}

.recP{
   width: 20px;
   height: 125px;
   background-color: blueviolet;
   display: inline-block;
}

.recG{
   width: 400px;
   height: 200px;
   background-color: green;
   display: inline-block;
   margin: 5px 50px;
}

.cirB{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: skyblue;
   display: inline-block;
   
}







.rec2{
   margin-top: 50px;
   border: dotted black 4px;
   height: 300px;
   width: 100%;

   
   box-sizing: border-box;
   padding: 20px;
}

.recY{
   box-sizing: border-box;     
   padding: 30px;

   height: 200px;
   width: 100%;
   background-color: burlywood;
   box-shadow: 5px 5px 10px black  ;
}


.note h1 {
   box-sizing: border-box;
   padding: 150px;
   color: navy;
   width: 50%;
   height: 400px;
   margin: auto;
   border: solid 1px black;
   box-shadow: 2px 2px 5px black;
   text-align: center;
}